<a href="https://colab.research.google.com/github/nicecarrot/AI-Study/blob/main/1_1_python_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 한 줄 주석. ( ctrl + / )

# 1.변수선언 및 출력

## 1.1 변수 (Variable)

어떠한 값(value)을 담는 저장 공간(storage location)과 그에 상응하는 이름(symbolic name)

- 첫 문자는 영문 혹은 underscore (_)
- 대소문자 구분
- 예약어는 변수명으로 사용 불가능. >> 함수명은 변수명으로 사용하지 말 것 !
- 값(value)의 의미를 추측할 수 있는 이름을 사용하면 유용함
- 변수에 줄 수 있는 값은 숫자, 문자, 다른 데이터타입의 형들이 모두 가능
- 변수를 만들고 나면 변수를 저장하는 메모리를 자동으로 생성하고 주소가 생김
- 변수는 변할 수 있음

### 1.1.1 변수 선언

In [ ]:
a = 7
A = 6

### 1.1.2 변수 출력

In [ ]:
print(a)
print(A)

7
6

### 1.1.3 변수 복사

In [ ]:
a = 7 
b = a

In [ ]:
print(b)

7

### 1.1.4 변수 선언 방법

1. 하나의 변수에 하나의 값을 대입
2. 두개의 변수에 같은 값을 대입
3. 변수에 변수를 대입

(+ 한줄에 여러 변수를 선언하고 싶을 때는 ";"를 이용한다.)

In [ ]:
print(a)
print(b)

1
1

In [ ]:
a = 1
b = 1

In [ ]:
a = b = 1

In [ ]:
a = 1
b = a

# 2.자료형

- 수치형 (number) : 정수, 실수 등
- 문자열 (string) : 문자들의 모임
- 리스트 (list) : 순서를 가지는 python 객체의 집합
- 사전 (dictionary) : 순서를 가지지 않는 객체의 쌍 (key & value)
- 튜플 (tuple) : 순서를 가지는 python 객체의 집합
- 집합 (set) : 중복이 없고 순서를 가지지 않는 객체의 집합(집합 관련 데이터 처리)
- 부울 (bool) : 참과 거짓을 나타냄

## 2.1 수치형 (number)

In [ ]:
print(3)
print(3.2)
print(-1.2e5)
print(1.2E-10)
# e3 = 10^3
# 0.000000000012

3
3.2
-120000.0
1.2e-10

### 2.1.1 수치형 연산

- 사칙연산 : +  -  * /
- 나머지 연산: %
- 몫: //
- 제곱 연산: **

In [ ]:
a = 4
b = 3.2
c = 2

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7.2
0.7999999999999998
12.8
1.25

In [ ]:
print(a/c)
print(a%c)
print(a//c)

2.0
0
2

In [ ]:
print(a**c)

16

In [ ]:
print(a**b) # 4^3.2

84.44850628946526

### 2.1.2 수치형 관련 함수

자주 사용하는 함수형 연산
- abs()
- int()
- float()
- pow()

In [ ]:
print(int(6.2))
print(int(-6.2))

6
-6

In [ ]:
print(5)
print(float(5))

5
5.0

In [ ]:
print(abs(-6.2))

6.2

In [ ]:
print(pow(4,2))

16

## 2.2 문자열 (string)

문자, 단어 등으로 구성된 문자들의 집합을 의미함

### 2.2.1 문자열 입력 방법

1. ' '
2. " "
3. ''' '''
4. """ """

[why?] 이렇게 여러가지 방법을 만들었을까?

In [ ]:
word = "phone"
print(word)

phone

In [ ]:
print("I'm smart")

I'm smart

In [ ]:
sentence = """글을 이렇게
여러줄 쓰고 싶어요.
세 줄도 되고
네 줄도 되는"""
print(sentence)

글을 이렇게
여러줄 쓰고 싶어요.
세 줄도 되고
네 줄도 되는

In [ ]:
print('그가 "바보"라고 말했다.')

그가 "바보"라고 말했다.

### 2.2.2 이스케이프코드

미리 정의해 둔 '문자 조합 >> 출력물을 보기 좋게 만드는 용도 ! (print()와 함께 사용)

- 줄바꿈 : \n
- 탭 : \t
- \: \\
- ' : \'
- " : \"

In [ ]:
sentence1 = "1\n2"
sentence2 = "1\t2"
sentence3 = "1123\t2"
sentence4 = '그는 \'좋다\'라고 생각했다. 그러나 "싫다"라고 말했다'

print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)

1
2
1	2
1123	2
그는 '좋다'라고 생각했다. 그러나 "싫다"라고 말했다

In [ ]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# sentence를 하나의 문자열로 선언하여 아래의 출력 결과를 만들어 봅시다.
sentence = "커피 한 잔\n매실차 두 잔\n'커피콩빵도 있잖아?'\t\"강릉 커피콩빵이랑 비교해보자\""
print(sentence)

커피 한 잔
매실차 두잔
'커피콩빵도 있잖아?'	"강릉 커피콩빵이랑 비교해보자"

### 정답은 아래!

In [ ]:
sentence = "커피 한 잔\n매실차 두 잔\n\'커피콩빵도 있잖아?\'\t\"강릉 커피콩빵이랑 비교해보자!\""

### 2.2.3 문자열 연산

문자열도 숫자형처럼 연산이 가능합니다.

In [ ]:
a = "python! "
b = "good!"
print(a+b)

python! good!

In [ ]:
print(a*5)

python! python! python! python! python!

In [ ]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# 문자열 곱셈과 문자열 덧셈을 이용해 아래 모양을 만들어봅시다.
equal = "="*30
sentence = equal + "\n파이썬 하루만에 끝내보자!\n" + equal
print(sentence)

==============================
파이썬 하루만에 끝내보자!
==============================

### 정답은 아래에

In [ ]:
sentence = '='*30 + '\n파이썬 하루만에 끝내보자!\n' + '='*30

### 2.2.4 문자열 인덱싱

index = 색인 = 찾아보기

- 순방향 인덱스: 0 부터 시작
- 역방향 인덱스: -1 부터 시작
- 문자열[인덱스]로 호출

In [ ]:
sentence = '파이썬 하루만에 끝내보자!'
#           0 1 2 34 5 6 7 89 10111213
#                                 -2-1

In [ ]:
print(sentence)
print(sentence[-1])

파이썬 하루만에 끝내보자!
!

In [ ]:
### 문자열 인덱싱으로, 문자열을 변경할 수 있나요?
sentence = '파이썬 하루만에 끝내보자!'
# sentence[-1] = '.'
sentence = '파이썬 하루만에 끝내보자.'
# mutable = 변화할 수 있는
# immutable = 변화할 수 없다.

### 2.2.5 문자열 슬라이싱

slicing = 잘라내기

- 문자열[인덱스1:인덱스2]로 호출 (인덱스1 이상, 인덱스2 미만)

In [ ]:
#           0 1 2 34 5 6 7 89 10111213
sentence = '파이썬 하루만에 끝내보자!'

In [ ]:
print(sentence[4:8]) # 4:8 = 4, 5, 6, 7

하루만에

### 2.2.6 문자열 포맷팅

1. % 포맷팅 (c 스타일, %d: 정수 / %f: 실수 / %s: 문자열)
2. '{}'.format
3. f-string

In [ ]:
a = 6
b = 7
sentence = "나는 a호선을 타고 다녀."
print(sentence)

나는 6호선을 타고 다녀.

In [ ]:
# % 포맷팅
print("나는 %d호선을 타고 다녀." % a)

나는 6호선을 타고 다녀.

In [ ]:
# {}.format() / {index}.format(), / {variable}.format(variable=)
a = 6
b = 7
c = 9
#            
# print("나는 {1}호선과 {0}호선, {1}호선을 주로 타고 다녀.".format(a, b, c))
print("나는 {}호선과 {}호선, {}호선을 주로 타고 다녀.".format(a, b, c))
#                                                             0  1  2
print("나는 {line1}호선과 {favorite}호선, {hate}호선을 주로 타고 다녀.".format(line1=a, favorite=c, hate=b))
#사용하는 곳!: 파일의 경로를 만들어줄 때, 자연어 처리

나는 6호선과 7호선, 9호선을 주로 타고 다녀.
나는 6호선과 9호선, 7호선을 주로 타고 다녀.

In [ ]:
# f-string
print(f"나는 {a}호선과 {b+c}호선, {c}호선을 주로 타고 다녀.")

나는 6호선과 16호선, 9호선을 주로 타고 다녀.

### 2.2.7 문자열 관련 함수

- len(x)


- .count(x)
- .find(x)
- .join(x)
- .upper()
- .lower()
- .replace(a, b)
- .split()

In [ ]:
sentence = "나는 7호선을 타고 다녀."
print(len(sentence))

14

In [ ]:
print(sentence.split())

['나는', '7호선을', '타고', '다녀.']

In [ ]:
haha = "hahahahahahahohohohihihihoho"
print(haha.count('hi'))

3

In [ ]:
kiki = haha.replace('ha','ki')
print(kiki)
print(haha)

kikikikikikihohohohihihihoho
hahahahahahahohohohihihihoho

In [ ]:
file_name = 'JIAT_20210803_fieis.jpg'
print(file_name.find('.'))
print(file_name.split('.'))

19
['JIAT_20210803_fieis', 'jpg']

In [ ]:
print(haha.upper())

HAHAHAHAHAHAHOHOHOHIHIHIHOHO

In [ ]:
print(file_name.lower())

jiat_20210803_fieis.jpg

In [ ]:
sentence = '.'.join('abcde')
print(sentence)

a.b.c.d.e

## 2.3 리스트 (list)

여러 자료형을 담을 수 있고, 여러 요소를 하나의 변수로 사용하고 싶을 때 사용.

- [ ]를 사용해서 초기화
- 리스트 또한 인덱싱과 슬라이싱 가능
- 다차원 배열 표현 가능 << 리스트 안에 리스트
- 리스트 안의 원소는 리스트, 집합, 딕셔너리 등도 가능

In [ ]:
myList = [1, 1.25, 1, 'word', [1, 2, [3,4]]]
print(myList)

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]

### 2.3.1 리스트의 인덱싱과 슬라이싱

In [ ]:
print(myList)
print(myList[4])
print(myList[4][2])
print(myList[4][2][0])
print(myList[2:4])
print(myList[3][0])

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]
[1, 2, [3, 4]]
[3, 4]
3
[1, 'word']
w

In [ ]:
# 어떻게 하면 아래 결과가 나올까요~~~?
# 리스트의 인덱싱과 슬라이싱을 이용해 봅시다.
#         0   1    2     3-0        3-1      3-2-0      3-2-1
myList = [1, 5.2, 2*3, ['coffee', 'water', ['매실차', '유자차']]]
print(myList[3][2][0][:2])

매실

### 정답은 아래

In [ ]:
myList[-1][-1][0][:2]

'매실'

### 2.3.2 리스트의 연산

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1*2 + list2)
print(len(list1))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
3

### 2.3.3 리스트의 수정

In [ ]:
### 리스트 인덱싱으로, 리스트를 변경할 수 있나요? -> 가능합니다.
myList = [1, 5.2, 2*3, ['coffee', 'water', ['매실차', '유자차']]]
print(myList)
myList[3] = 4
print(myList)

[1, 5.2, 6, ['coffee', 'water', ['매실차', '유자차']]]
[1, 5.2, 6, 4]

### 2.3.4 리스트 관련 함수

- append(x)
- extend(x)
- sort()
- reverse()
- insert(a, b) : a는 index, b는 값
- remove(x)
- pop()
- count(x)


- del

In [ ]:
myList = [1, 5.2, 2, 6, 2]

In [ ]:
# myList.append([1,2])
myList.extend([1,2])
print(myList)

[1, 5.2, 2, 6, 2, 1, 2]

In [ ]:
myList.sort()
print(myList)

[1, 2, 2, 5.2, 6]

In [ ]:
myList.reverse()
print(myList)

[6, 5.2, 2, 2, 1]

In [ ]:
myList.insert(2,3)
print(myList)

[6, 5.2, 3, 3, 3, 3, 2, 2, 1]

In [ ]:
temp = myList.remove(3)
print(myList)
print(temp)

[6, 5.2, 2, 2, 1]
None

In [ ]:
lastWord = myList.pop()
print(myList)
print(lastWord)

[6, 5.2, 2, 2]
1

In [ ]:
print(myList)
print(myList.count(0))
del myList[1]
print(myList)

[6, 5.2, 2, 2]
0
[6, 2, 2]

In [ ]:
# 리스트 관련 함수 예제 1
myList = [1,2,3,4,5]
myList.insert(2, 6)
print(myList)
# 결과 : [1, 2, 6, 3, 4, 5]

[1, 2, 6, 3, 4, 5]

In [ ]:
# 리스트 관련 함수 예제 2
myList = [3,4,1,2,5]
myList.sort()
myList.reverse()
print(myList)
# 결과 : [5,4,3,2,1]

[5, 4, 3, 2, 1]

In [ ]:
# 리스트 관련 함수 예제 3
myList = [1,2,3]
myList.extend([4,5,6])
print(myList)
# 결과 : [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

## 2.4 사전 (dictionary)

대응 관계를 나타내는 자료형

- { }를 사용해서 초기화.
- 순서를 따지지 않음.
- key:value 의 쌍으로 이루어짐.
- key는 숫자형 혹은 문자열. 중복 불가능.
- value는 숫자형, 문자형, 리스트형, 사전형 등 대부분의 형식 가능.

In [ ]:
myDictionary = {'name':'jihoon', 'age':30}
print(myDictionary)

{'name': 'jihoon', 'age': 30}

In [ ]:
print(myDictionary['name'])

jihoon

In [ ]:
myDictionary['grade'] = [10, 12, 8]
print(myDictionary)

{'name': 'jihoon', 'age': 30, 'grade': [10, 12, 8]}

In [ ]:
myDictionary['age'] = 1
print(myDictionary)

{'name': 'jihoon', 'age': 1, 'grade': [10, 12, 8]}

### 2.4.1 사전의 수정

In [ ]:
del myDictionary['grade']
print(myDictionary)

{'name': 'jihoon', 'age': 1}

### 2.4.2 사전 관련 함수

- keys()
- values()
- items()
- clear()
- get()


- del
- in

In [ ]:
myDictionary = {'name':'jihoon', 'age':30, 'grade': [10,12,8]}

In [ ]:
print(myDictionary)
print(myDictionary.keys())
print(myDictionary.values())
print(myDictionary.items())

{'name': 'jihoon', 'age': 30, 'grade': [10, 12, 8]}
dict_keys(['name', 'age', 'grade'])
dict_values(['jihoon', 30, [10, 12, 8]])
dict_items([('name', 'jihoon'), ('age', 30), ('grade', [10, 12, 8])])

In [ ]:
myDictionary.clear()
print(myDictionary)

{}

In [ ]:
myDictionary.clear()
myDictionary['name']='jack'
myDictionary['age'] = 20
print(myDictionary)

{'name': 'jack', 'age': 20}

In [ ]:
print(myDictionary.get('grade'))

None

In [ ]:
print('jack' in myDictionary)

False

In [ ]:
# 사전 관련 함수 예제
myDict = {'coffee': 4000, 'water': 2000, 'milk': 2500}

"""
myDict에 cake 목록(아래)을 추가하고, 결과를 확인해보세요!
choco : 2000
banana : 4000
straw berry : 5000
"""
myDict['cake'] = {'choco': 2000, 'banana': 4000, 'straw berry': 5000}

print(myDict['cake']['choco'])
print(myDict['cake'].keys())
print('mint choco' in myDict['cake'])

2000
dict_keys(['choco', 'banana', 'straw berry'])
False

## 2.5 튜플 (tuple)

리스트와 비슷하지만, 값을 추가, 삭제, 수정할 수 없음!

- ( )를 이용하여 초기화 (( ) 없이도 선언 가능)
- 값 한개를 가질 때는 마지막에 ","를 써줘야 함
- 수정해서는 안되는 값들을 저장할 때 사용

In [ ]:
tuple1 = (2.3,)
tuple2 = (2.3)
tuple3 = 1,2,3,4,5

print(tuple1)
print(tuple2)
print(tuple3)

(2.3,)
2.3
(1, 2, 3, 4, 5)

In [ ]:
tuple1 = 1,2,3,'?',[1, 23]
print(tuple1[1:-2]*2)

(2, 3, 2, 3)

## 2.6 집합 (set)

집합 관련 자료를 쉽게 처리하기 위해 만든 자료형

- { }을 사용해서 초기화
- 중복을 허용하지 않고 순서가 없음 >> 인덱싱 x
- 순서를 사용하고 싶다면, list나 tuple로 변형

In [ ]:
set1 = {1, 4, 5}
print(set1)

{1, 4, 5}

In [ ]:
list1 = [1,2, 3, 4, 1, 3, 5, 7, 9]
print(list1)
print(set(list1))
print(list(set(list1)))

[1, 2, 3, 4, 1, 3, 5, 7, 9]
{1, 2, 3, 4, 5, 7, 9}
[1, 2, 3, 4, 5, 7, 9]

### 2.6.1 합집합, 교집합, 차집합

- 합집합 : |
- 교집합 : &
- 차집합 : -

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 5, 7, 9}

In [ ]:
print(set1 or set2)
print(set1 | set2) # or 합집합

print(set1 and set2) # and 교집합
# 즉, x and y 가 있으면 x가 False면 x를 반환하고, x가 True면 y값을 반환합니다.
print(set1 & set2) # and 교집합
print(set1 - set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5}
{2, 4}

### 2.6.2 집합 관련 함수

- .add()
- .updata()
- .remove()
- .union()
- .defference()

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 5, 7, 9}
print(f"set1: {set1}\t\tset2: {set2}")
set1.add(6)
print(f"set1: {set1}\tset2: {set2}")
set2.update([11, 13])
print(f"set1: {set1}\tset2: {set2}")
set1.remove(1)
print(f"set1: {set1}\t\tset2: {set2}")
print(f"union: {set1.union(set2)}")
print(f"union: {set1 | set2}")
print(f"diff: {set1.difference(set2)}")
print(f"diff: {set1 - set2}")

set1: {1, 2, 3, 4, 5}		set2: {1, 3, 5, 7, 9}
set1: {1, 2, 3, 4, 5, 6}	set2: {1, 3, 5, 7, 9}
set1: {1, 2, 3, 4, 5, 6}	set2: {1, 3, 5, 7, 9, 11, 13}
set1: {2, 3, 4, 5, 6}		set2: {1, 3, 5, 7, 9, 11, 13}
union: {1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
union: {1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
diff: {2, 4, 6}
diff: {2, 4, 6}

## 2.7 부울 (bool)

참과 거짓을 나타내는 자료형

- True / False
- 주로 조건문의 반환 값으로 사용

In [ ]:
a = True
b = False
print(type(a))

<class 'bool'>

In [ ]:
# &는 모두가 참이여야 참!
print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

In [ ]:
# |은 하나라도 참이면 참!
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

In [ ]:
myList = [1,2,3]
myDict = {'name': 'jack'} # bool(myDict) -> True
print(bool(myList))
print(bool([]))
print(bool(myDict))
print(bool({}))

True
False
True
False

## 2.8 input 함수

문자열을 띄워 질문하고 사용자의 입력값을 받음

In [ ]:
print("hello")

hello

In [ ]:
number = input("값을 입력해주세요.\n")

값을 입력해주세요.
123789

In [ ]:
print(float(number))
print(type(number))

123789.0
<class 'str'>