<a href="https://colab.research.google.com/github/nicecarrot/AI-Study/blob/main/2_1_python_tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 한 줄 주석. ( ctrl + / )

# 3.제어문

## 3.1 조건문 (if 문)

참과 거짓을 판단하는 문장

- 조건이 참일 경우 실행
- 조건이 거짓일 경우 pass
- 들여쓰기(indent) 주의
- 콜론 주의

In [ ]:
a = 3; b = 5
if a > b:
  print(f"{a}이(가) {b}보다 크다.")
  print("실행 완료")

실행 완료

### 3.1.1 관계연산자

- ==
- !=
- <
- \>
- <=
- \>=

In [ ]:
a = 3; b = 1
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
False
True
False
True

### 3.1.2 논리 연산자

- not
- and
- or

In [ ]:
a = True
b = True
print(not a)
print(not a and b)
print(not a or b)

False
False
True

In [ ]:
myList = [1,2,3]
print('1' in myList)

False

### 3.1.3 if/else 문

In [ ]:
money = 15000
if money > 10000:
  print("맛있는 것을 먹는다.")
else:
  print("싼 것을 먹는다.")

맛있는 것을 먹는다.

In [ ]:
money = 1000
card = True
# 돈이 충분하거나 카드가 있으면, "택시를 탄다"를 출력
# 돈이 충분치 않고 카드가 없으면, "걸어간다."를 출력

if (money >= 5000) or card:
  print("택시를 탄다.")
else:
  print("걸어간다.")

택시를 탄다.

In [ ]:
condition = False # or False
if condition:
  print('참')

### 3.1.4 in / not in

In [ ]:
pocket = ['card', 'phone', 'bottle', 'mouse']

if 'card' in pocket or 'money' in pocket:
  print("택시")
else:
  print("도보")

IndentationError: ignored

### 3.1.5 pass

조건을 만족하지만 아무 일도 수행하고 싶지 않을 때, 사용

In [ ]:
pocket = ['card', 'phone', 'bottle', 'mouse']
if 'bottle' not in pocket:
  pass
else:
  print('물병 구매!')

### 3.1.6 elif 문

다양한 조건을 사용할 때 사용

In [ ]:
# 주머니에 돈이 있으면 택시
# 주머니에 돈은 없지만, 카드가 있으면 버스
# 모두 아니라면 걸어간다.
pocket = ['card', 'phone', 'bottle', 'mouse', 'money']

if 'money' in pocket:
  print('택시')
elif 'card' in pocket:
  print('버스')
else:
  print('걸어간다.')

택시
버스

## 3.2 반복문 -1 (while 문)

조건을 만족하는 한, 반복적으로 실행시키는 문장

(! 무한반복되지 않도록 주의)

In [ ]:
count = 0
while count < 10:
  print(f"count: {count}")
  count = count + 1

count: 0
count: 1
count: 2
count: 3
count: 4
count: 5
count: 6
count: 7
count: 8
count: 9

### 3.2.1 break문

In [ ]:
a = 10
count = 0
while a > 3:
  count = count + 1
  a = a + 1
  print(f"a = {a}\tcount = {count}")
  if count > 100:
    break
print("끝")

a = 11	count = 1
a = 12	count = 2
a = 13	count = 3
a = 14	count = 4
a = 15	count = 5
a = 16	count = 6
a = 17	count = 7
a = 18	count = 8
a = 19	count = 9
a = 20	count = 10
a = 21	count = 11
a = 22	count = 12
a = 23	count = 13
a = 24	count = 14
a = 25	count = 15
a = 26	count = 16
a = 27	count = 17
a = 28	count = 18
a = 29	count = 19
a = 30	count = 20
a = 31	count = 21
a = 32	count = 22
a = 33	count = 23
a = 34	count = 24
a = 35	count = 25
a = 36	count = 26
a = 37	count = 27
a = 38	count = 28
a = 39	count = 29
a = 40	count = 30
a = 41	count = 31
a = 42	count = 32
a = 43	count = 33
a = 44	count = 34
a = 45	count = 35
a = 46	count = 36
a = 47	count = 37
a = 48	count = 38
a = 49	count = 39
a = 50	count = 40
a = 51	count = 41
a = 52	count = 42
a = 53	count = 43
a = 54	count = 44
a = 55	count = 45
a = 56	count = 46
a = 57	count = 47
a = 58	count = 48
a = 59	count = 49
a = 60	count = 50
a = 61	count = 51
a = 62	count = 52
a = 63	count = 53
a = 64	count = 54
a = 65	count = 55
a = 66	count = 56
a = 67	count = 57
a = 68	count = 58
a = 69	count = 59
a = 70	count = 60
a = 71	count = 61
a = 72	count = 62
a = 73	count = 63
a = 74	count = 64
a = 75	count = 65
a = 76	count = 66
a = 77	count = 67
a = 78	count = 68
a = 79	count = 69
a = 80	count = 70
a = 81	count = 71
a = 82	count = 72
a = 83	count = 73
a = 84	count = 74
a = 85	count = 75
a = 86	count = 76
a = 87	count = 77
a = 88	count = 78
a = 89	count = 79
a = 90	count = 80
a = 91	count = 81
a = 92	count = 82
a = 93	count = 83
a = 94	count = 84
a = 95	count = 85
a = 96	count = 86
a = 97	count = 87
a = 98	count = 88
a = 99	count = 89
a = 100	count = 90
a = 101	count = 91
a = 102	count = 92
a = 103	count = 93
a = 104	count = 94
a = 105	count = 95
a = 106	count = 96
a = 107	count = 97
a = 108	count = 98
a = 109	count = 99
a = 110	count = 100
a = 111	count = 101
끝

### 3.2.2 continue문

In [ ]:
count = 0 #
while True: # # # # #
  count = count + 1 #1 #2 #3 #4
  if count%2 == 1: # # # #
    continue # #
  print(f"반복횟수 = {count}") # #
  if count >= 10: # #
    break

반복횟수 = 2
반복횟수 = 4
반복횟수 = 6
반복횟수 = 8
반복횟수 = 10

### 3.2.3 무한루프

In [ ]:
count = 0
while True:
  count = count + 1
  print(count)

## 3.3 반목문 -2 (for 문)

시퀀스 자료를 이용하여 원하는 일을 반복 수행할 때 사용.

In [ ]:
myList = ['Korea', 'USA', 'Japan', 'China']
for a in myList:
  print(a)

Korea
USA
Japan
China

In [ ]:
myList = ['Korea', 'USA', 'Japan', 'China']
a = myList[0] # 'Korea'
print(a) 

a = myList[1] # 'USA'
print(a)

a = myList[2] # 'Japan'
print(a)

a = myList[3] # 'China'
print(a)

Korea
USA
Japan
China

In [ ]:
score = [10,12, 8, 7, 10]
sum = 0
for s in score:
  sum = sum + s
  print(sum)
print(sum/len(score))

10
22
30
37
47
9.4

### 3.3.1 range함수

In [ ]:
for i in range(10):
  print(i)

myList = [0,1,2,3,4,5,6,7,8,9,10,11,12]
for i in myList[:10]:
  print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,20,4): # 3부터 시작해서, 10 미만의 수를 2간격으로 
  print(i)

3
7
11
15
19

In [ ]:
myList = [0,1,2,3,4,5,6,7,8,9,10,11,12]
for i in myList[3:10]:
  print(i)

3
4
5
6
7
8
9

### 3.3.2 enumerate함수

In [ ]:
myList = ['Korea', 'USA', 'Japan', 'China']
for value in myList:
  print(value)

Korea
USA
Japan
China

In [ ]:
myList = ['Korea', 'USA', 'Japan', 'China']
for index, value in enumerate(myList):
  print(f"index: {index}\t\tvalue: {value}")

index: 0		value: Korea
index: 1		value: USA
index: 2		value: Japan
index: 3		value: China

# 4.Comprehension

다른 언어에서는 잘 볼 수 없는 파이썬만의 편리한 문법

list, set, dictionary 안에서 for문과 if문을 사용하여, 원소들을 구성하는 방법

## 4.1 if문 Comprehension

In [ ]:
score = 90

pf = "pass" if score >= 80 else "fail"

print(pf)

pass

In [ ]:
if score>=80:
  pf = "pass"
else:
  pf = "fail"
  
print(pf)

pass

## 4.2 List Comprehension

- [item **for** item **in** iterable]
- [item **for** item **in** iterable **if** condition]

In [ ]:
sentence = "조건 판단 후, 참/거짓에 따라 다른 명령을 실행하기 위하여 사용하는 것을 if문이라고 한다."
words = sentence.split()
print(words)

['조건', '판단', '후,', '참/거짓에', '따라', '다른', '명령을', '실항하기', '위하여', '사용하는', '것을', 'if문이라고', '한다.']

In [ ]:
words_len = [word for word in words]
print(words_len)

['조건', '판단', '후,', '참/거짓에', '따라', '다른', '명령을', '실항하기', '위하여', '사용하는', '것을', 'if문이라고', '한다.']

In [ ]:
words_3 = [word for word in words if len(word) > 2]
print(words_3)

['참/거짓에', '명령을', '실항하기', '위하여', '사용하는', 'if문이라고', '한다.']

In [ ]:
words_3_v2 = []
for word in words:
  if len(word) > 2:
    words_3_v2.append(word)
print(words_3_v2)

['참/거짓에', '명령을', '실항하기', '위하여', '사용하는', 'if문이라고', '한다.']

## 4.3 Set Comprehension

- {item **for** item **in** iterable}
- {item **for** item **in** iterable **if** condition}

In [ ]:
sentence = "조건 판단 후, 참/거짓에 따라 다른 명령을 실행하기 위하여 사용하는 것을 if문이라고 한다."
words = sentence.split()
print(words)

['조건', '판단', '후,', '참/거짓에', '따라', '다른', '명령을', '실행하기', '위하여', '사용하는', '것을', 'if문이라고', '한다.']

In [ ]:
length = set([word for word in words])
print(length)

{'판단', '다른', '실행하기', '것을', '한다.', '후,', '따라', 'if문이라고', '참/거짓에', '조건', '위하여', '사용하는', '명령을'}

## 4.4 Dictionary Comprehension

- {key : value **for** item **in** iterable}
- {key : value **for** item **in** iterable **if** condition}

In [ ]:
country_capital = {'대한민국':'서울',
                   '영국':'런던',
                   '중국':'북경',
                   '일본':'도쿄'}
print(country_capital)

{'대한민국': '서울', '영국': '런던', '중국': '북경', '일본': '도쿄'}

In [ ]:
print(len(country_capital))

4

In [ ]:
capital_country= {capital:country for country, capital in country_capital.items()}
print(capital_country)

{'서울': '대한민국', '런던': '영국', '북경': '중국', '도쿄': '일본'}

In [ ]:
capital_country= {country_capital[country]:country for country in country_capital.keys()}
print(capital_country)

{'서울': '대한민국', '런던': '영국', '북경': '중국', '도쿄': '일본'}

# 5.자료형과 제어문 활용 예제

In [ ]:
# 1. 홍길동 평균 점수
# 국어 80, 영어 75, 수학 55
#sol1
kor = 80
eng = 75
math = 55
do = 80

sum = kor + eng + math + do
mean = sum /4
print(f'홍길동의 평균 점수: {mean}')

#sol2
hong = {'국어':80, '영어':75, '수학':55, '도덕':80}

sum = 0
for score in hong.values():
  sum = sum + score
mean = sum/len(hong)

print(f"홍길동의 평균 점수: {mean}")

홍길동의 평균 점수: 70.0
홍길동의 평균 점수: 72.5

In [ ]:
# 2. 짝수 홀수 판별
value = input("값을 입력하시오\n")

if int(value)%2 == 0:
  print(f"{value}은(는) 짝수입니다.")
else:
  print(f"{value}은(는) 홀수입니다.")

값을 입력하시오
12738
12738은(는) 짝수입니다.

In [ ]:
# 3. 주민등록번호 성별 숫자 인덱싱
pin = "881120-4068234"

if pin[7] == ('1' or '3'):
  print('남자입니다.')
else:
  print('여자입니다.')

여자입니다.

In [ ]:
# 4. : to #
a = "a:b:c:d"
print(a.replace(':', '#'))

a#b#c#d

In [ ]:
# 5. 중복값 제거
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
print(a)
a = list(set(a))
print(a)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# 6. shirts!

In [ ]:
# 7. 3의 배수합
sum = 0
count = 0
while count<1000:
  count = count + 1
  if count%3 == 0:
    sum += count

print(f"1000이하 3의 배수의 합 = {sum}")

1000이하 3의 배수의 합 = 166833

In [ ]:
a = 6833123112
# a = 6,833,123,112
print("{0:,}".format(a))
print(f"{a:,}")

6,833,123,112
6,833,123,112

In [ ]:
# 8. *그리기
count = 0
while count < 5:
  count = count + 1
  print('*' * count)

*
**
***
****
*****

In [ ]:
# 9. 학급 평균
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for score in scores:
  sum = sum + score
print(f"평균점수: {sum/len(scores)}")

평균점수: 79.0