<a href="https://colab.research.google.com/github/nicecarrot/AI-Study/blob/main/3_1_python_tutorial_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.함수

입력 >> **함수** >> 출력


반복적으로 사용되는 기능을 함수로 사용.


ex)
```
def add(arg1, arg2):
  result = arg1+arg2
  return result 
```

In [ ]:
def add(x, y):
  return x + y

In [ ]:
z = add(3,6)
print(z)

9

## 1.1 함수의 특징

- 입력값(argument), 결과값(return)이 없을 수 있다.
- 결과값은 하나이다.
- 입력값을 미리 정해 놓을 수 있다.
- 함수 안에서 선언한 변수는 함수 안에서만 유효하다. (return, global 제외)

In [ ]:
def greeting():
  print("Hi~")

In [ ]:
z = greeting()

Hi~

In [ ]:
print(z)

None

In [ ]:
def greeting_v2(name):
  print(f"Hi~ {name}")

In [ ]:
z = greeting_v2('Jack')

Hi~ Jack

In [ ]:
print(z)

None

In [ ]:
def greeting_v3():
  return "Hi~"

In [ ]:
z = greeting_v3()

In [ ]:
print(z)

Hi~

In [ ]:
def add_mul(x, y=8):
  result1 = x + y
  result2 = x * y
  return result1, result2

SyntaxError: ignored

In [ ]:
result1, result2 = add_mul(3, 6)
print(result1)
print(result2)

9
18

In [ ]:
def sum_pow(x=1, y=1):
  '''input:
  x = 밑
  y = 지수
  output:
  (x+y, x**y)
  '''
  result1 = x + y
  result2 = x**y
  return result1, result2

In [ ]:
result1, result2 = sum_pow(y=2)
print(result1)
print(result2)

3	1

In [ ]:
def greeting():
  global hi
  hi = "Hi"
  print(hi)

In [ ]:
greeting()

Hi

In [ ]:
print(hi)

Hi

In [ ]:
def add(sum,*number):
  for arg in number:
    sum = sum + arg
  return sum

In [ ]:
print(add(1, 2, 3, 54, 6, 1, 2, 3))

72

In [ ]:
def capital(**country):
  for key, value in country.items():
    print(f"{key}'s capital city is {value}")

In [ ]:
capital(korea='서울', japan='도쿄')

korea's capital city is 서울
japan's capital city is 도쿄

## 1.2 lambda

- 간단한 작업을 함수를 이용해 만드는 방법 (예약어=lambda)
- 함수이름 = **lambda** arg1, arg2: 수행(결과값)

In [ ]:
add2 = lambda x, y: x+y

In [ ]:
print(add2(1,3))

4

# 함수 예제

In [ ]:
# 1. 리스트를 입력 받아서, 홀수만 반환하는 함수를 작성

def odd_pick(inList):
  '''설명'''
  result = []
  for number in inList:
    if type(number) == int:
      if number%2==1:
        result.append(number)

    if type(number) == list:
      for list_num in number:
        if type(list_num) == int:
          if list_num%2==1:
            result.append(list_num)
  return result

In [ ]:
def odd_pick(items):
    return [item for item in items if type(item)==int and item%2==1]

In [ ]:
myList = [1, 3, 2, 5.2, 8, [5,7],12, 13]
print(odd_pick(myList))

[1, 3, 5, 7, 13]

In [ ]:
# &
# True True
# -> True

# and
# cond1 cond2

# cond1 = True
# T-> cond2 = True
# F-> cond2 = False
# cond1 = False
# T->
# F->

In [ ]:
#2 사용자 입력을 여러개 받아서 평균을 계산해주는 함수
def input_mean():
  count = 0
  sum = 0

  max_num = 10
  while count < max_num:
    value = input(f"평균을 구할 값을 하나씩 입력해주세요. 입력이 끝나면, x를 입력하세요.(최대 {max_num}개의 값)\n")
    if value == 'x':
      break
    else:
      sum = sum + float(value)
    count = count + 1
  
  if count >0:
    mean = sum/count
    print(f"입력된 값들의 평균은 {mean}입니다.")
  else:
    print("입력된 값이 없습니다.")

In [ ]:
input_mean()

평균을 구할 값을 하나씩 입력해주세요. 입력이 끝나면, x를 입력하세요.(최대 10개의 값)
x
입력된 값이 없습니다.

In [ ]:
# 3 1000미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하여라.

def sum_15():
  sum = 0
  for n in range(1, 1000):
    if (n%3 == 0) or (n%5 == 0):
      sum = sum + n
  print(sum)
  return sum

In [ ]:
sum_15()

233168

233168

In [ ]:
# 4 range() 함수와 같은 기능을 하는 my_range()를 작성 (반환값은 list 형으로)
def my_range(arg1, arg2=None, stride=1):
  if arg2 == None:
    start = 0
    end = arg1
  else:
    start = arg1
    end = arg2

  count = start
  my_list = []
  while count < end:
    my_list.append(count)
    count = count + stride
  return my_list

In [ ]:
print(my_range(5, 10, 3))
print(list(range(5, 10, 3)))

[5, 8]
[5, 8]

In [ ]:
# 5 리스트와 한 정수를 입력 받고,
#   한 줄에 입력 받은 정수 값만큼의 길이씩 출력하는 함수를 작성.

def print_p(in_list, num):
  for i, value in enumerate(in_list):
    if (i+1)%num == 0:
      print(str(value))
    else:
      print(str(value), end='\t')

In [ ]:
print(my_range(18))
print_p(my_range(18), 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
0	1	2	3	4	5	6	7	8	9
10	11	12	13	14	15	16	17

In [ ]:
# 6 리스트와 두 정수를 입력 받고,
#   한줄에 첫번째 정수개 만큼의 출력,
#   다음 줄은, 두번째 정수만큼 이동해서 출력.

def print_p2(in_list, num, stride):
  for i in range(int((len(in_list)-num)/stride) + 1):
    print_p(in_list[i*stride:i*stride+num], num)
    # for j, value in enumerate(in_list[i*stride:i*stride+num]):
    #   if (j+1)%num == 0:
    #     print(str(value))
    #   else:
    #     print(str(value), end='\t') 

    # ex)
    # len(in_list) = l = 10
    # num(n) = 3
    # stride(s) = 2

    # 0 1 2 3 4 5 6 7 8 9
    # 0 1 2
    #     2 3 4
    #         4 5 6
    #             6 7 8

    # 0 <= i*s
    # i*stride + num - 1 <= l-1

    # 0 <= i
    # i <= int( (l-num)/stride )

    # 0 <= i <  int( (l-num)/stride ) + 1

In [ ]:
print_p2(my_range(18), 5, 3)

0	1	2	3	4
3	4	5	6	7
6	7	8	9	10
9	10	11	12	13
12	13	14	15	16