<a href="https://colab.research.google.com/github/nicecarrot/AI-Study/blob/main/4_python_tutorial_3_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 클래스

- 클래스 : 과자틀, 템플릿

- 객체 : 과자 (피조물)

클래스 변화 -> 객체 전체의 변화.  
객체가 변화 -> 다른 객체에는 영향이 x

In [ ]:
class test():
  pass

In [ ]:
test1 = test()
test2 = test()

In [ ]:
test1.greeting = "Hi"

In [ ]:
test2.greeting = "Hello"

In [ ]:
print(test1.greeting)
print(test2.greeting)

Hi
Hello

## 클래스의 대표적 예시: 계산기

In [ ]:
def (save_v, value):
  save_v += value
  return save_v

In [ ]:
save_v2 = 0
def add_2(value):
  global save_v2
  save_v2 = save_v2 + value
  return save_v2

save_v3 = 0
def add_3(value):
  global save_v3
  save_v3 = save_v3 + value
  return save_v3

save_v4 = 0
def add_4(value):
  global save_v4
  save_v4 = save_v4 + value
  return save_v4

In [ ]:
print(add_2(3))

9

In [ ]:
cal1 = calculator()
cal2 = calculator()

In [ ]:
cal1.update(0.3)

1.4000000000000001

In [ ]:
print(cal1.version)
print(cal2.version)

1.4000000000000001
1.4000000000000001

In [ ]:
print(cal1.result)
print(cal2.result)

0
0

In [ ]:
# 객체.함수이름(인수)
cal1.add(3)
print(cal1.result)

3

In [ ]:
print(cal2.sub(2))

-2

In [ ]:
print(cal2.mul(4))

-8

In [ ]:
cal3 = calculator()

- 인스턴스 변수

- 클래스 변수

- 메소드

In [ ]:
myList = [1,2, 3]
myDict = {'key1': 1}

print(type(1))
print(type(3.2))
print(type('python'))
print(type(myList))
print(type(myDict))
print(type(cal1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class '__main__.calculator'>

In [ ]:
print(dir(myList))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

상속 & 오버라이딩

In [ ]:
class calculator():
  version = 1.0

  def __init__(self, initial = 0):
    self.result = initial

  def add(self, value):
    self.result = self.result + value
    return self.result

  def sub(self, value):
    self.result = self.result - value
    return self.result

  def mul(self, value):
    self.result = self.result * value
    return self.result

  def div(self, value):
    self.result = self.result / value
    return self.result

  def update(self, value):
    calculator.version += value
    return calculator.version

In [ ]:
class calculator2(calculator):
  def pow(self, value):
    self.result = self.result**value
    return self.result

  def div(self, value):
    if value == 0.0:
      print("error!")
    else:
      self.result = self.result / value
    return self.result

In [ ]:
cal_1 = calculator2()

In [ ]:
print(cal_1.result)

0

In [ ]:
print(cal_1.add(4))
print(cal_1.pow(3))
print(cal_1.div(0))

4
64
error!
64

## 상속과 오버라이딩, super()

In [ ]:
class parents():
  def handsome(self):
    print("잘 생겼다!")

In [ ]:
father = parents()
father.handsome()

잘 생겼다!

In [ ]:
class child_m(parents):
  def handsome(self):
    super().handsome()
    print("부모님 닮아서")

In [ ]:
class child_f(parents):
  def handsome(self):
    pass
  def pretty(self):
    print("예쁘다!")

In [ ]:
boy = child_m()
boy.handsome()

잘 생겼다!
부모님 닮아서

In [ ]:
girl = child_f()
girl.handsome()
girl.pretty()

예쁘다!

In [ ]:
class child():
  def __init__(self, who): # 매직 메소드, 특별(special) 메소드 중 하나. 특히 __init__ = 생성자라고 불린다!
    self.who = who

  def handsome(self):
    print(f"{self.who}를 닮아, 잘 생겼다!")

  def pretty(self):
    print(f"{who}를 닮아, 예쁘다!")

In [ ]:
class boy(child):
  def __init__(self, who, where):
    super().__init__(who)
    self.where = where

  def handsome(self):
    super().handsome()
    print(f"특히 {self.where}(이)가 닮았어.")

In [ ]:
son_1 = child("아버지")

In [ ]:
son_1.handsome()

아버지를 닮아, 잘 생겼다!

In [ ]:
son_2 = boy("아버지", "팔뚝")

In [ ]:
son_2.handsome()

아버지를 닮아, 잘 생겼다!
특히 팔뚝(이)가 닮았어.

## 클래스 예제

In [ ]:
# 0
class calculator():
  def __init__(self, initial = 0):
    self.result = initial

  def add(self, value):
    self.result = self.result + value
    return self.result

  def sub(self, value):
    self.result = self.result - value
    return self.result

  def mul(self, value):
    self.result = self.result * value
    return self.result

  def div(self, value):
    self.result = self.result / value
    return self.result

In [ ]:
# 1
class calculator_v2(calculator):
  def __init__(self):
  def pow(self, value):
    self.result = self.result ** value
    return self.result

  def root(self, value=2):
    if value == 0.0:
      print("error!")
    else:
      self.result = self.result ** (1/value)
    return self.result

  def div(self, value):
    if value == 0.0:
      print("error!")
    else:
      self.result = self.result / value
    return self.result

In [ ]:
# 2
class calculator_v3(calculator_v2):
  def clear(self):
    self.result = self.result * 0.0

In [ ]:
calc1 = calculator_v3()

In [ ]:
calc1.add(3)

3

In [ ]:
print(calc1.result)

0.0

In [ ]:
calc1.clear()

In [ ]:
# 3
class company():
  num_employee = 0
  # 생년, 입사 년도, 기초 점수, 평가 점수
  def __init__(self, birth=1900, join=2021, basic_score=0, eval_score=0):
    self.birth = birth
    self.join = join
    self.basic_score = basic_score
    self.eval_score = eval_score

    # 4
    self.age = None
    self.cyear = None
    self.calc_info()

    company.num_employee += 1 # 5

  def calc_info(self):
    today = 2021
    self.age = today - self.birth + 1
    self.cyear = today - self.join + 1

    self.total_score = self.basic_score + self.eval_score

  # 6
  def print_num_employee():
    print(f"총 사원의 수는 {company.num_employee}명 입니다.")

  def modify_score(self, basic_score=None, eval_score=None):
    if basic_score:
      self.basic_score = basic_score
    if eval_score:
      self.eval_score = eval_score

    self.total_score = self.basic_score + self.eval_score

  def print_employee_info(self):
    print(f"나이:\t{self.age} 살 ({self.birth}년 출생)")
    print(f"경력:\t{self.cyear} 년차 ({self.join}년 입사)")
    print(f"총점수:\t{self.total_score} 점 (기초: {self.basic_score} 점 / 평가: {self.eval_score} 점)")

In [ ]:
jack = company(1992, 2018, 8.5, 7)

In [ ]:
mary = company(1995, 2017, 8 , 9)

In [ ]:
paseco = company(1986, 2003, 3, 10)

In [ ]:
blokus = company(1997, 2021, 8)

In [ ]:
company.print_num_employee()

총 사원의 수는 4명 입니다.

In [ ]:
print(jack.birth)
print(mary.basic_score)

1992
8

In [ ]:
print(jack.age)
print(mary.cyear)

30
5

In [ ]:
mary = company(1995, 2017, 8 , 9)

In [ ]:
mary.print_employee_info()

나이:	27 살 (1995년 출생)
경력:	5 년차 (2017년 입사)
총점수:	17 점 (기초: 8 점 / 평가: 9 점)

In [ ]:
mary.modify_score(eval_score=7)

In [ ]:
mary.print_employee_info()

나이:	27 살 (1995년 출생)
경력:	5 년차 (2017년 입사)
총점수:	15 점 (기초: 8 점 / 평가: 7 점)